# Telegram API
telethon

# PostgreSQL support
psycopg2-binary
sqlalchemy

# Data transformation
dbt-core
dbt-postgres

# Object detection / YOLOv8
ultralytics

# API
fastapi
uvicorn

# Orchestration
dagster
dagit

# Utilities
pandas
numpy
python-dotenv
requests
